NODE_ENV=production
PORT=<railway-port>

DB_HOST=postgresql://postgres:VLVnxPglLaLZgGFMhrjQQuLbHikMyYHo@postgres.railway.internal:5432/railway
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=VLVnxPglLaLZgGFMhrjQQuLbHikMyYHo
DB_DATABASE=e_engineer_staging
DB_SYNCHRONIZE=false
DB_LOGGING=false
DB_MIGRATIONS_RUN=false

JWT_SECRET=aeKLoVgGu0zjiWsds65Lzgo4o0MCmTFutqFV1hMJ8xToC9IKlvdmDhYoSJjLxP1Ws2PapVwTaism2EgapPR020
JWT_EXPIRES_IN=24h

CORS_ORIGINS=https://e-engineer-staging.vercel.app
FRONTEND_URL=https://e-engineer-staging.vercel.app
API_PUBLIC_URL=https://e-engineer-api-staging.up.railway.app

AWS_REGION=us-east-1
AWS_S3_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
